<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SignIn-Online Shopper</title>
    <style>
      .my-form {
        width: 50%;
        margin: 200px auto 0 auto;
      }

      .colorgraph {
        height: 5px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(
          left,
          #c4e17f,
          #c4e17f 12.5%,
          #f7fdca 12.5%,
          #f7fdca 25%,
          #fecf71 25%,
          #fecf71 37.5%,
          #f0776c 37.5%,
          #f0776c 50%,
          #db9dbe 50%,
          #db9dbe 62.5%,
          #c49cde 62.5%,
          #c49cde 75%,
          #669ae1 75%,
          #669ae1 87.5%,
          #62c2e4 87.5%,
          #62c2e4
        );
        background-image: -moz-linear-gradient(
          left,
          #c4e17f,
          #c4e17f 12.5%,
          #f7fdca 12.5%,
          #f7fdca 25%,
          #fecf71 25%,
          #fecf71 37.5%,
          #f0776c 37.5%,
          #f0776c 50%,
          #db9dbe 50%,
          #db9dbe 62.5%,
          #c49cde 62.5%,
          #c49cde 75%,
          #669ae1 75%,
          #669ae1 87.5%,
          #62c2e4 87.5%,
          #62c2e4
        );
        background-image: -o-linear-gradient(
          left,
          #c4e17f,
          #c4e17f 12.5%,
          #f7fdca 12.5%,
          #f7fdca 25%,
          #fecf71 25%,
          #fecf71 37.5%,
          #f0776c 37.5%,
          #f0776c 50%,
          #db9dbe 50%,
          #db9dbe 62.5%,
          #c49cde 62.5%,
          #c49cde 75%,
          #669ae1 75%,
          #669ae1 87.5%,
          #62c2e4 87.5%,
          #62c2e4
        );
        background-image: linear-gradient(
          to right,
          #c4e17f,
          #c4e17f 12.5%,
          #f7fdca 12.5%,
          #f7fdca 25%,
          #fecf71 25%,
          #fecf71 37.5%,
          #f0776c 37.5%,
          #f0776c 50%,
          #db9dbe 50%,
          #db9dbe 62.5%,
          #c49cde 62.5%,
          #c49cde 75%,
          #669ae1 75%,
          #669ae1 87.5%,
          #62c2e4 87.5%,
          #62c2e4
        );
      }
    </style>
  </head>

  <body>
    <% include ../partials/navbar %>
    <div class="container">
      <div class="row">
        <div
          class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 my-form"
        >
          <% if (errors.length > 0) { %>
         
          <div class="alert alert-danger alert-dismissible">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <%= errors %>
          </div>
          <% } %>
          <form role="form" method="POST" action="/login">
            <fieldset>
              <h2>Please Sign In  <span class="button-checkbox">
                <a href="/register" class="btn btn-link pull-right">Not a Member?</a>
              </span></h2>
              <hr class="colorgraph" />
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control input-lg"
                  placeholder="Email Address"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control input-lg"
                  placeholder="Password"
                />
              </div>
              
              <hr class="colorgraph" />
              
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <input
                    type="submit"
                    class="btn btn-lg btn-success btn-block"
                    value="Sign In"
                  />
                  <span class="button-checkbox">
                <a href="" class="btn btn-link pull-left">Forgot Password?</a>
              </span><br/>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <% include ../partials/scripts %>
  </body>
</html>
